@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Grey-medium: hsl(186, 15%, 59%);
  --Grey-darker: hsl(187, 24%, 22%);
  --Green-lighter: hsl(148, 38%, 91%);
  --Green-medium: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
}

body {
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Green-lighter);
  color: var(--Grey-darker);
}

.container {
  max-width: 350px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--White);
  .star {
    color: var(--Green-medium);
  }
  #error {
    margin-top: 5px;
    font-size: 12px;
    color: var(--Red);
    display: none;
  }

  form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .input-part {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    input,
    textarea {
      border: 1px solid var(--Grey-medium);
      display: block;
      border-radius: 5px;
      padding: 10px;
    }

    input:focus,
    textarea:focus {
      outline: none;
      box-shadow: 0px 2px 2px var(--Grey-medium);
      border: 1px solid var(--Green-medium);
    }
  }

  textarea {
    height: 100px;
  }

  button {
    background-color: var(--Green-medium);
    border: none;
    padding: 15px;
    color: var(--White);
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-color: var(--Grey-medium);
  }
}

.double {
  display: grid;
  flex-direction: column;
  gap: 5px;
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  legend {
    font-size: 1em;
    font-weight: medium;
  }

  label {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    border: 1px solid var(--Grey-medium);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    span {
      min-width: 80%;
    }
  }
  label:hover {
    box-shadow: 0px 2px 2px var(--Grey-medium);
    border: 1px solid var(--Green-medium);
  }
}
.border-red {
  border: 1px solid red;
}
.modal {
  position: absolute;
  top: 0;
  width: 400px;
  border-radius: 15px;
  color: var(--White);
  background-color: var(--Grey-darker);
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0px;
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: 1250px) {
  .container {
    min-width: 650px;
    height: max-content;
  }
  form {
    .input-part {
      display: grid;
      grid-template-rows: auto;
    }
  }
  .double {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
